extends ../layout

block content
  div(class='addForm')
    h2 Add Article
    form(method='POST', action='add', enctype='multipart/form-data')
      div(class='inputName') Title:
      div
        input(type='text', name='title')
      div(class='inputName') Content:
      div
        textarea(type='text', name='content')
      div(class='inputName') Category:
      div
        select(name='category')
          each category in categories
            option(value="#{category}")=category
      div(class='inputName') Picture:
      div
        input(type='file', name='picture')
      button(class='btnAdd') Add
