extends ../../layout

block content
  div(class='addForm')
    a(href='/private/articles/add') Add new article
  div(class='addForm')
    a(href='/users/logout') Log out
  if articles !== undefined
    each article in articles
        include preViewArticle